{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block head %}
    {{ super() }}
    <style>
        {#用jinjia模板生成的标签，依然可以当做正常的html标签进行css#}
        #submit{
            width:80px;
            height:30px;
            margin-top:10px;
            border:1px solid white;
            border-radius: 5px;
            background-color:rgb(64,129,220,0.9);
        }
    </style>
{% endblock %}

{% block title %}New Category{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>New Category</h1>
    </div>
    <form method="post">
        {{ form.csrf_token }}
        {{ form.name.label }}<br>
        {{ form.name }}<br>
        {% if form.name.errors %}
            {% for message in form.name.errors %}
            <small class="error">{{ message }}</small><br>
            {% endfor %}
        {% endif %}
{#       <input id="submit" name="submit" type="submit" value="Submit">#}
        {{ form.submit }}
    </form>

{% endblock %}
