/*父元素清除高度塌陷*/

.clearfix::before,
.clearfix::after{
    content:'';
    display:table;
    clear:both;
}
body{
    font:14px/1.5 Arial,Microsoft Yahei,Heiti SC,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
    color:black;
    /*将body宽度设定最小值，浏览器缩小的时候，也不会让容器溢出*/
    min-width:1100px;
}

/*设置一个类，用来固定中间容器的宽度,之后如果需要宽度为1100的中间容器都加上class=c*/
.w{
    width:1100px;
    /*当浏览器缩小的时候，*/
    min-width:1100px;
    margin:0 auto;
}

h2{
    font-size:18px;
    color:#3F584B;
    font-weight: normal;
}

h3{
    font-size:12px;
    font-weight: normal;
    color:#959E9A;
}

#topbar a{
    text-decoration:none;
    color:whitesmoke;
}


#top_wrapper{
    color:white;
    width:100%;
    /*height:30px;*/
    /*因为只有文字，所有line-height设置后就可以了，文字也会水平居中*/
    line-height:30px;
    /*深绿*/
    background-color: rgb(102, 161, 134);


}

#topbar a:hover{
    text-shadow:1px 1px 1px rgb(211, 211, 211,0.8);
}

/*如果Home,About,Gallery如果在当前页面，则class为active，则应用属性*/
.active{
    text-shadow:1px 1px 1px rgb(211, 211, 211,0.5);
}


/*设置topbar的三个部分以及每个部分内的li浮动*/
#topbar_left{
    float:left;
}
#topbar_left li{
    float:left;
    margin:0 10px;
}

#log_inout{
    text-align:right;
    float:right;
    /*由于lon in或者out的文字是会变动的，所以为了变动时不影响与其他元素的间距，先将width固定住*/
    width:100px;

}

#log_inout a{
    font-weight:bold;

}


#admin_option{
    float:right;
    color:white;
}

#admin_option li{
    float:left;
    margin:0 10px;
}

/*Manage list浮窗*/
/*将父元素开启定位，子元素才可以参照父元素进行绝对定位*/
#manage{
    position: relative;
}
#manage_list{
    width:150px;
    background-color:rgb(102, 161, 134);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    position: absolute;
    top:30px;
    left:-20px;
    /*给浮窗设置一个很大的z-index,这样就会在float层面也是最上层的*/
    z-index:999;
    /*浮窗默认不显示,方法一*/
    /*display:none;*/
    /*浮窗默认不显示,方法二，这个方法是为了配合transition添加过渡效果*/
    height:0;
    overflow:hidden;
    /*transition:当这个属性发生变化时，就会用3s来完成*/
    transition:height 0.3s;

}
#manage_list li{
    float:none;
}

/**/
#manage:hover #manage_list{
    /*display:block;*/
    height:80px;


}

/*主页banner和搜索栏*/


#banner_wrapper{
    color:white;
    width:100%;
    height:60px;
    /*浅绿*/
    background-color: rgb(238, 244, 236);


}



#banner_logo{
    float:left;
    width:50px;
    height:50px;
    overflow:hidden;
    margin-top:5px;
    /*使用雪碧图来设置logo背景图，使用一张由两张50像素水平拼起来的雪碧图；默认是取前面50px宽度*/
    background-image: url("../image/yylogo-sprite.png");
    /*在这里设置background-position的transitin时间为0.3秒;不能在hover里设置*/
    transition:background-position 0.3s;


}
/*当鼠标hover在logo上图片取值起点左移动50像素*/
#banner_logo:hover{
    background-image: url("../image/yylogo-sprite.png");
    background-position:-50px;

}

#banner_title{
    float:left;
    margin-left:5px;
    margin-top:10px;
}




#banner_search{
    float:right;
    height:30px;
    margin-top:15px;

}

#search_text{
    float:right;
    width:200px;
    height:26px;
    text-align:center;
    border:1px solid grey;
    border-radius:20px;
}

#search_submit{
    float:right;
    width:30px;
    height:30px;
    background-image: url("../image/search.jpg");
    border:1px solid grey;
    border-radius:20px;

}

#search_submit:hover {
    box-shadow: 0px 0px 3px rgb(102, 161, 134, 0.8);
}





#pagination_mark a{
    color:rgb(68,119,166);
    text-decoration:none;


}

#pagination_mark a:hover{
    text-shadow:0 0 1.5px rgb(68,119,166)

    /*color:rgb(102, 161, 134);*/

}

.no_post_tip{
    text-align:center;
}



#submit{
    border-radius: 5px;
    width: 60px;
    height:30px;
    background-color: rgba(85, 148, 206);
    color: #f6f6f6;
    margin-top:5px;
    font-weight: bold;
}


/*flash_message*/
#flash_message{
    display:inline-block;
    margin:10px;
    padding:5px 15px;
    border-radius:5px;
    line-height:30px;
    background-color: rgba(81, 255, 62, 0.1);
    color: #39b32c;
    text-align:center;

}
#flash_message span{
    color: #39b32c;
}



