/*父元素清除高度塌陷*/
.clearfix::before,
.clearfix::after{
    content:'';
    display:table;
    clear:both;
}
body{
    font:14px/1 Arial,Microsoft Yahei,Heiti SC,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
    color:black;
    /*将body宽度设定最小值，浏览器缩小的时候，也不会让容器溢出*/
    min-width:1226px;
}

/*设置一个类，用来表示中间容器的宽度,之后如果需要宽度为1226的容器都加上class=c*/
.w{
    width:1226px;
    /*当浏览器缩小的时候，*/
    min-width:1226px;
    margin:0 auto;
}

#topbar a{
    text-decoration:none;
    color:white;
}


#top_wrapper{
    color:white;
    width:100%;
    height:40px;
    line-height:40px;
    background-color: rgb(64,129,220);


}

#topbar a:hover{
    text-shadow:1px 1px 1px rgb(211, 211, 211,0.8);
}



/*设置topbar的三个部分以及每个部分内的li浮动*/
#topbar_left{
    float:left;
}
#topbar_left li{
    float:left;
    margin:0 10px;
}

#log_inout{
    text-align:right;
    float:right;
    /*由于lon in或者out的文字是会变动的，所以为了变动时不影响与其他元素的间距，先将width固定住*/
    width:100px;

}

#log_inout a{
    font-weight:bold;

}


#admin_option{
    float:right;
    color:white;
}

#admin_option li{
    float:left;
    margin:0 10px;
}

/*Manage list浮窗*/
/*将父元素开启定位，子元素才可以参照父元素进行绝对定位*/
#manage{
    position: relative;
}
#manage_list{
    width:150px;
    background-color:rgb(64,129,220);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    position: absolute;
    top:40px;
    left:-20px;
    /*给浮窗设置一个很大的z-index,这样就会在float层面也是最上层的*/
    z-index:999;
    /*浮窗默认不显示,方法一*/
    /*display:none;*/
    /*浮窗默认不显示,方法二，这个方法是为了配合transition添加过渡效果*/
    height:0;
    overflow:hidden;
    /*transition:当这个属性发生变化时，就会用3s来完成*/
    transition:height 0.3s;

}
#manage_list li{
    float:none;
}

/**/
#manage:hover #manage_list{
    /*display:block;*/
    height:80px;


}






