
/*gallery */

#gallery_wrapper{
    margin-top:10px;
}

.sub_bar{
    height:40px;
    box-sizing: border-box;
    border-bottom:2px solid #7FB099;

}

.sub_bar h1{
    float:left;
    font-weight:normal;
    margin-top:10px;
    font-size:18px;
    color:#3F584B;

}

#gallery_bar a{
    float:right;
    margin-top:12px;
    text-decoration:none;
    color:#6C7470;
}

#gallery_bar a:hover{
    text-shadow:1px 1px 1px rgb(108, 116, 112,0.3);
}




#gallery_bar i{
    color:#6C7470;
    font-weight:bold;

}

#gallery_recommend{
    position:relative;
    margin:10px 10px;

}


#gallery_recommend_big{
    position:relative;
    float:left;
}

#recommend_slide{
    position:relative;
    width:520px;
    height:240px;

}

.recommend_big_item{
    position:absolute;
    transition:0.3s;
}

/*css动画
1.用keyframes 创建动画，不同浏览器需要加不同的前缀+动画名称
2.为元素绑定动画

*/
@keyframes ch_pic_animation
{
0%   {opacity:0.1;border-radius:50px;}
100% {opacity:1;border-radius:5px;}
}

@-moz-keyframes ch_pic_animation /* Firefox */
{
0%   {opacity:0.1;border-radius:50px;}
100% {opacity:1;border-radius:5px;}
}

@-webkit-keyframes ch_pic_animation /* Safari 和 Chrome */
{
0%   {opacity:0.1;border-radius:50px;}
100% {opacity:1;border-radius:5px;}
}
/*2.为元素绑定动画：
浏览器前缀-animation:animation-name，duration,(其他属性)
(每个浏览器前缀都要绑定一次)

*/
#ch_pic_animation{
    -webkit-animation:ch_pic_animation 2s;
    -moz-animation: ch_pic_animation 2s;
    animation:ch_pic_animation 2s;

}

.active_pic img{
    -webkit-animation: ch_pic_animation 2s;
    -moz-animation: ch_pic_animation 2s;
    animation: ch_pic_animation 2s;
}



/*轮播图大图*/

.recommend_big_item img{
    border-radius:5px;
}

/*为了解决动画中opacity导致最后一张图总是透在当前图后面，为4张图设置了层级*/
.recommend_big_item:nth-child(1){
    z-index:104;
}

.recommend_big_item:nth-child(2){
    z-index:103;
}
.recommend_big_item:nth-child(3){
    z-index:102;
}
.recommend_big_item:nth-child(4){
    z-index:101;
}



/*为了覆盖上面的css，所以.active_pic 前添加id选择器来增大选择器分值去覆盖上面z-index*/
#recommend_slide .active_pic{
    z-index: 105;

}



/*
4个小点
*/

#slide_trigger{
    position:absolute;
    bottom:10px;
    right:10px;
    z-index: 120;

}

.dot{
    float:left;
    margin:2px;
    background-color:white;
    width:10px;
    height:10px;
    border-radius:50%;
    border:1px solid #7FB099;
}

.active_dot{
    background-color:green;
}



/*轮播图两边上一张，下一张按钮*/
#left_trigger,#right_trigger{
    width:30px;
    line-height:30px;
    background-color: rgb(0, 0, 0,0.5);
    color: #dbdbdb;
    position:absolute;
    z-index:120;
    display:none;

}

#left_trigger{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    left:0;
    top:100px;


}

#right_trigger{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    right:0;
    top:100px;

}

#gallery_recommend_big:hover #left_trigger,#gallery_recommend_big:hover #right_trigger{
    display:block;
}





#slide_trigger a:hover{
    background-color:rgb(102, 161, 134,0.6);

}



#gallery_recommend_small{
    float:right;


}

.recommend_small_item{
    float:left;
    margin:0 5px;
    width:167px;
    height:240px;
    overflow:hidden;
    position:relative;

}

.recommend_small_item img{
    border-radius:5px;
}

.small_image_shadow{
    position:absolute;
    bottom:0;
    width:167px;
    height:0;
    transition:height 0.2s;
    line-height:30px;
    color:darkslategrey;
    text-align: center;
    background-color: rgb(255, 255, 255,0.7);
}

.recommend_small_item:hover .small_image_shadow{
    height:30px;
}





/*posts */
#post_wrapper{
    margin-top:10px;

}

#post_list{
    float:left;
    width:100%;
    margin:10px;

}
.post_preview_title{
    text-decoration:none;
    font-size:14px;
    font-weight:bold;
    color: rgb(68,119,166);
}

.post_preview_title:hover{
    text-decoration:underline;
}

.post_preview_body{
    background-color: #efefef;
    margin:5px;
    padding:5px;
    color:dimgrey;
    border-radius:5px;
    text-indent:25px;
}



#pagination_mark a{
    color:rgb(68,119,166);
    text-decoration:none;


}

#pagination_mark a:hover{
    text-shadow:0 0 1.5px rgb(68,119,166)

    /*color:rgb(102, 161, 134);*/

}

.no_post_tip{
    text-align:center;
}

