#login_form_border{
    margin:20px auto;
    width:350px;
    height:250px;
    border:1px ridge rgb(72, 114, 95,0.8);
    box-shadow: 0 0 2px rgb(102, 161, 134);
    color: #939393;
    font-weight:bold;
    font-size:16px;
}
#login_form_border:first-child{
    padding-top:20px;
}

#login_form_border div{
    margin:10px 30px;

}

#username,#password{
    width:285px;
    height:25px;
    border:1px solid #a8a8a8;
    border-radius:2px;
    font-size:16px;
    color: #383838;
}


#login_username{
    margin-top:20px;
}