{% from 'bootstrap/nav.html' import render_nav_item %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock title %} - {{ admin.blog_title|default('Blog Title') }}</title>
        <link rel="icon" href="{{ url_for('static', filename='pig.ico') }}">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/%s.min.css' % request.cookies.get('theme', 'perfect_blue')) }}"
              type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome/css/font-awesome.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" type="text/css">


    {% endblock head %}

</head>

<body>

    <div id="top_wrapper">
        <div class="w clearfix" id="topbar">
            <ul id="topbar_left">
                <li><a {% if request.endpoint=='blog.index' %}class="active"{% endif %} href="{{ url_for('blog.index')}}">Home</a></li>
                <li>|</li>
                <li><a {% if request.endpoint=='blog.about' %}class="active"{% endif %} href="{{ url_for('blog.about') }}">About</a></li>
                <li>|</li>
                <li><a href="#">Photo Museum</a></li>

            </ul>


             <div id="log_inout">
                 {% if current_user.is_authenticated %}
                    <a class="log_text" href="{{ url_for('auth.logout', next=request.full_path) }}"><i class="fa fa-user-circle-o"></i>  Log Out</a>
                 {% else %}
                    <a class="log_text" href="{{ url_for('auth.login', next=request.full_path) }}"><i class="fa fa-user-circle-o"></i>  Log In</a>
                 {% endif %}
             </div>



            <ul id="admin_option">
                {% if current_user.is_authenticated %}
                    <li id="create"><a href="{{ url_for('admin.new_post') }}">Create Post</a></li>
                    <li>|</li>
                    <li id="manage">Manage
                        <ul id="manage_list">
                            <li><a href="{{ url_for('admin.manage_post') }}">Manage Posts</a></li>
                            <li><a href="{{ url_for('admin.manage_comment') }}">Manage Comments</a></li>


                        </ul>

                    </li>
                    <li>|</li>
                    <li id="setting"><a href="{{url_for('admin.settings')}}">Setting</a></li>
                {% endif %}


            </ul>


        </div>

    </div>

{##}
{#<nav id="topbar">#}
{#    <div id="topbar_left">#}
{#            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>#}
{#            <i class="fa fa-map-pin"></i>#}
{#            {% if current_user.is_authenticated %}#}
{#                <a class="log_text" href="{{ url_for('auth.logout', next=request.full_path) }}">Logout</a>#}
{#            {% else %}#}
{#                <a class="log_text" href="{{ url_for('auth.login', next=request.full_path) }}">Login</a>#}
{#            {% endif %}#}
{##}
{#            <a {% if request.endpoint=='blog.index' %}class="active"{% endif %} href="{{ url_for('blog.index')}}">Home</a>#}
{##}
{#            <a {% if request.endpoint=='blog.about' %}class="active"{% endif %} href="{{ url_for('blog.about') }}">About</a>#}
{##}
{#    </div>#}
{##}
{##}
                {#  判断是否登录来显示管理员选项：NEW Manage Settings       #}
{#    <div id="topbar_right">#}
{#            <ul>#}
{#                {% if current_user.is_authenticated %}#}
{#                    <li class="nav-item dropdown a_s">#}
{#                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"#}
{#                           aria-haspopup="true"#}
{#                           aria-expanded="false">#}
{#                            Creat New <span class="caret"></span>#}
{#                        </a>#}
{#                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                            <li><a class="drop_list" href="{{ url_for('admin.new_post') }}">Post</a></li>#}
{##}
{##}
{#                        </ul>#}
{#                    </li>#}
{#                    <li class="nav-item dropdown a_s">#}
{#                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"#}
{#                           aria-haspopup="true"#}
{#                           aria-expanded="false">#}
{#                            Manage <span class="caret"></span>#}
{#                            {% if unread_comments %}#}
{#                                <span class="badge badge-success">new</span>#}
{#                            {% endif %}#}
{#                        </a>#}
{#                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                            <li><a class="drop_list" href="{{ url_for('admin.manage_post') }}">Post</a></li>#}
{#                            <li><a class="drop_list" href="{{ url_for('admin.manage_comment') }}">#}
{#                                Comment#}
{#                                {% if unread_comments %}#}
{#                                    <span class="badge badge-success">{{ unread_comments }}</span>#}
{#                                {% endif %}#}
{#                            </a></li>#}
{##}
{##}
{#                        </ul>#}
{#                    </li>#}
{#                    <li id="settings" class="a_s"><a href="{{url_for('admin.settings')}}">Settings</a></li>#}
{#                {% endif %}#}
{#            </ul>#}
{#    </div>#}
{##}
{#</nav>#}


<main class="container">

   {#    消息分类：
            （1）在调用flash()函数传入消息内容时，添加消息类别作为第二个参数
            （2）在调用get_flashed_messages方法时，将with_categories参数设为True，会将消息迭代为一个类似（消息类别，消息内容）的元祖
            （3）message[0]就是消息类别，message[1]就是消息内容
    #}

    {% for message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ message[0] }}" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message[1] }}
        </div>
    {% endfor %}
    {% block content %}{% endblock content %}
    {% block footer %}
        <footer>
            <p id="bottom_footer" style="text-align: center">
                <small> &copy; 2020 <a href="http://wssyy2014.com">Yayan Su</a>
{#                    -#}
{#                    <a href="https://github.com/wssyy1995" >GitHub</a> -#}

                </small>
            </p>

            </p>
        </footer>
    {% endblock footer %}
</main>

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
{% endblock %}
</body>
</html>