{% from 'bootstrap/nav.html' import render_nav_item %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock title %} - {{ admin.blog_title|default('Blog Title') }}</title>
        <link rel="icon" href="{{ url_for('static', filename='yy.ico') }}">
{#        <link rel="stylesheet"#}
{#              href="{{ url_for('static', filename='css/%s.min.css' % request.cookies.get('theme', 'perfect_blue')) }}"#}
{#              type="text/css">#}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome/css/font-awesome.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" type="text/css">


    {% endblock head %}

</head>

<body>

    <div id="top_wrapper">
        <div class="w clearfix" id="topbar">
            <ul id="topbar_left">

                <li><a {% if request.endpoint=='blog.index' %}class="active"{% endif %} href="{{ url_for('blog.index')}}">Home</a></li>
                <li>|</li>
                <li><a href="{{ url_for('admin.not_open') }}">Gallery</a></li>

            </ul>


             <div id="log_inout">
                 {% if current_user.is_authenticated %}
                    <a class="log_text" href="{{ url_for('auth.logout', next=request.full_path) }}"><i class="fa fa-user-circle-o"></i>  Log Out</a>
                 {% else %}
                    <a class="log_text" href="{{ url_for('auth.login', next=request.full_path) }}"><i class="fa fa-user-circle-o"></i>  Log In</a>
                 {% endif %}
             </div>



            <ul id="admin_option">
                {% if current_user.is_authenticated %}
                    <li id="create"><a href="{{ url_for('admin.new_post') }}">Create Post</a></li>
                    <li>|</li>
                    <li id="manage">Manage
                        <ul id="manage_list">
                            <li><a href="{{ url_for('admin.manage_post') }}">Manage Posts</a></li>
                            <li><a href="{{ url_for('admin.manage_comment') }}">Manage Comments</a></li>


                        </ul>

                    </li>
                    <li>|</li>
                    <li id="setting"><a href="{{url_for('admin.settings')}}">Setting</a></li>
                {% endif %}


            </ul>


        </div>

    </div>
    <div id="banner_wrapper">
        <div class="w clearfix" id="banner_bar">

            <div id="banner_logo">
            </div>

            <div id="banner_title">
                <h2>{{ admin.blog_title  }}</h2>
                <h3>&nbsp;{{ admin.blog_sub_title}}</h3>
            </div>

            <div id="banner_search">
                {#      form 的method是get的话，就会在action的url后面添加查询参数：？参数key（为表单字段名）=字段value值 #}
                <form action="{{ url_for('blog.search') }}" method="get">
                    {{ search_form.search_submit }}
                    {{ search_form.search_text }}
{#                    <input id="search_submit" type="submit" value="" />#}
{#                    <input id="search_text" type="text" value placeholder="Search" />#}

                </form>
            </div>
        </div>

    </div>



<main class="container">

   {#    消息分类：
            （1）在调用flash()函数传入消息内容时，添加消息类别作为第二个参数
            （2）在调用get_flashed_messages方法时，将with_categories参数设为True，会将消息迭代为一个类似（消息类别，消息内容）的元祖
            （3）message[0]就是消息类别，message[1]就是消息内容
    #}

    {% for message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ message[0] }}" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message[1] }}
        </div>
    {% endfor %}
    {% block content %}{% endblock content %}
    {% block footer %}
        <footer>
            <p id="bottom_footer" style="text-align: center">
                <small> &copy; 2020 <a href="https://github.com/wssyy1995">Yayan Su</a>
{#                    -#}
{#                    <a href="https://github.com/wssyy1995" >GitHub</a> -#}

                </small>
            </p>

            </p>
        </footer>
    {% endblock footer %}
</main>

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static',filename='js/yyjs.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
{% endblock %}
</body>
</html>