<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XiaoMi</title>
    <link rel="stylesheet" href="../static/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/base.css">

</head>
<body>
    <div id="top_wrapper">
        <div class="w clearfix" id="topbar">
            <ul id="topbar_left">
                <li><a href="#">Home</a></li>
                <li>|</li>
                <li><a href="#">About</a></li>
                <li>|</li>
                <li><a href="#">Gallery</a></li>

            </ul>

             <div id="log_inout">
                 <a href="#"><i class="fa fa-user-circle-o"></i>  Log out</a>
             </div>

            <ul id="admin_option">
                <li id="create"><a href="#">Create Post</a></li>
                <li>|</li>
                <li id="manage">Manage
                    <ul id="manage_list">
                        <li><a href="#">Manage Posts</a></li>
                        <li><a href="#">Manage Comments</a></li>


                    </ul>

                </li>
                <li>|</li>
                <li id="setting"><a href="#">Setting</a></li>


            </ul>


        </div>

    </div>

    <div id="banner_wrapper">
        <div class="w clearfix" id="banner_bar">
            <div id="banner_logo">
            </div>

            <div id="banner_title">
                <h2>Yayan blog title</h2>
                <h3>Yayan subtitle</h3>
            </div>

            <div id="banner_search">
                <form >
                    <input id="search_submit" type="submit" value="" />
                    <input id="search_text" type="text" value placeholder="Search" />


                </form>
            </div>
        </div>

    </div>

    <div class="clearfix w" id="gallery_wrapper">
        <div id="gallery_bar">
            <h1>Gallery</h1>
            <a href="errors/not_open.html">More <i class="fa fa-angle-right"></i></a>

        </div>
        <div id="gallery_recommend" class="clearfix">
            <div id="gallery_recommend_big">
                <div id="recommend_slide">
                    <div class="recommend_big_item" style="z-index:100;">
                        <img src="../static/image/rabbit-moon.png">

                    </div>
                    <div class="recommend_big_item" style="z-index:101;">
                        <img src="../static/image/shiba.png">
                    </div>
                    <div class="recommend_big_item"></div>
                    <div class="recommend_big_item"></div>


                </div>

                <div id="slide_trigger" style="z-index: 110;">
                    <a href="javascript:alert('sorry ,this function is under development...');"></a>
                    <a href="javascript:alert('sorry ,this function is under development...');"></a>
                    <a href="javascript:alert('sorry ,this function is under development...');"></a>
                    <a href="javascript:alert('sorry ,this function is under development...');"></a>



                </div>


            </div>

            <div id="gallery_recommend_small" class="clearfix">
                <div class="recommend_small_item">
                    <img src="../static/image/shiba-s1.png">
                </div>
                <div class="recommend_small_item">
                    <img src="../static/image/shiba-s2.png">
                </div>
                <div class="recommend_small_item">
                    <img src="../static/image/shiba-s3.png">
                </div>

            </div>

        </div>
    </div>


￿






</body>
</html>