<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XiaoMi</title>
    <link rel="stylesheet" href="../static/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/base.css">

</head>
<body>
    <div id="top_wrapper">
        <div class="w clearfix" id="topbar">
            <ul id="topbar_left">
                <li><a href="#">Home</a></li>
                <li>|</li>
                <li><a href="#">About</a></li>
                <li>|</li>
                <li><a href="#">Gallery</a></li>

            </ul>

             <div id="log_inout">
                 <a href="#"><i class="fa fa-user-circle-o"></i>  Log out</a>
             </div>

            <ul id="admin_option">
                <li id="create"><a href="#">Create Post</a></li>
                <li>|</li>
                <li id="manage">Manage
                    <ul id="manage_list">
                        <li><a href="#">Manage Posts</a></li>
                        <li><a href="#">Manage Comments</a></li>


                    </ul>

                </li>
                <li>|</li>
                <li id="setting"><a href="#">Setting</a></li>


            </ul>


        </div>

    </div>
    <div id="banner_wrapper">
        <div class="w clearfix" id="banner_bar">


        </div>




    </div>



</body>
</html>