{% extends 'base.html' %}

{% block head %}
{# super()作用是将基模板的原内容整个复制过来   #}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}
{% block title %}Home{% endblock %}
{% block content %}

    <div class="clearfix w" id="gallery_wrapper">
        <div id="gallery_bar" class="sub_bar">
            <h1>Gallery</h1>
            <a href="{{ url_for('admin.not_open') }}">More <i class="fa fa-angle-right"></i></a>

        </div>
        <div id="gallery_recommend" class="clearfix">
            <div id="gallery_recommend_big">
                <div id="recommend_slide">
                    <div class="recommend_big_item active_pic">
                        <img src="../static/image/suishu.jpeg">

                    </div>
                    <div class="recommend_big_item">
                        <img src="../static/image/lijiang.jpeg">
                    </div>
                    <div class="recommend_big_item">
                        <img src="../static/image/rabbit-moon.jpeg">
                    </div>
                    <div class="recommend_big_item">
                        <img src="../static/image/seaside.jpeg">
                    </div>


                </div>

                <div id="slide_trigger">
                    <a class="dot active_dot"></a>
                    <a class="dot"></a>
                    <a class="dot"></a>
                    <a class="dot"></a>


                </div>

                <div id="left_trigger"><span class="fa fa-chevron-left" style="margin-left:5px;"></span></div>
                <div id="right_trigger"><span class="fa fa-chevron-right" style="margin-left:10px;"></span></div>


            </div>

            <div id="gallery_recommend_small" class="clearfix">
                <div class="recommend_small_item">
                    <img src="../static/image/yinziyan.jpeg">
                    <div class="small_image_shadow">YinZiYan</div>
                </div>
                <div class="recommend_small_item">
                    <img src="../static/image/sfseed.jpeg">
                    <div class="small_image_shadow">Sunflower seed</div>
                </div>
                <div class="recommend_small_item">
                    <img src="../static/image/shiba-s3.jpeg">
                    <div class="small_image_shadow">Shiba Yinu</div>
                </div>

            </div>

        </div>
    </div>


    <div class="clearfix w" id="post_wrapper">
         <div id="post_bar" class="sub_bar">
            <h1>Posts</h1>
         </div>
         <div id="post_list" class="clearfix">
            {% if posts %}
                {% for post in posts %}
                    <div class="post_cell" style="margin:10px 0;">
                        <div class="post_info clearfix">
                            <h3><a class="post_preview_title" href="{{ url_for('.show_post', post_id=post.id) }}" target="_blank">{{ post.title }}</a></h3>

                            {#     striptags就是去掉html标签，truncate就是规定文本显示的长度
                             例如： truncate(s, length=255, killwords=False, end='...')#}
                            <p class="post_preview_body" >{{ post.body|striptags|truncate }}</p>

                            <div class="post_preview_comment" style="float:left;color:grey;margin-left:10px;font-size:12px;">Comment: {{ post.comments|length }}</div>
                            {#   flask-moment用法： 1.需要一个utc时间元祖，可以通过datetime.datetime.utcnow（）获得；1.moment自动将服务器传来的时间转化为                        #}
                            <div style="float:right;color:grey;margin-right:10px;font-size:12px;">{{ moment(post.timestamp).format('LLL') }}</div>

                        </div>

                    </div>
                    {#loop.last :当前循环是否是最后一次循环  #}
                    {% if not loop.last %}
                        <hr>
                    {% endif %}
                {% endfor %}


                {% from 'macro.html' import pager %}
                {{ pager(pagination) }}


            {% else %}
                <div class="no_post_tip">
                    <h5>No posts yet.</h5>
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('admin.new_post') }}">Write Now</a>
                    {% endif %}
                </div>
            {% endif %}


         </div>



    </div>




{% endblock %}
