{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}
{% block title %}post-search{% endblock %}
{% block content %}


    <div class="clearfix w" id="post_wrapper">
         <div id="post_bar" class="sub_bar">
            <h1>Posts</h1>
         </div>
         <div id="post_list" class="clearfix">
            {% if search_post %}
                {% for post in search_post %}
                    <div class="post_cell" style="margin:10px 0;">
                        <div class="post_info clearfix">
                            <h3><a class="post_preview_title" href="{{ url_for('.show_post', post_id=post.id) }}">{{ post.title }}</a></h3>

                            {#     striptags就是去掉html标签，truncate就是规定文本显示的长度
                             例如： truncate(s, length=255, killwords=False, end='...')#}
                            <p class="post_preview_body" >{{ post.body|striptags|truncate }}</p>

                            <div class="post_preview_comment" style="float:left;color:grey;margin-left:10px;font-size:12px;">Comment: {{ post.comments|length }}</div>
                            {#   flask-moment用法： 1.需要一个utc时间元祖，可以通过datetime.datetime.utcnow（）获得；1.moment自动将服务器传来的时间转化为                        #}
                            <div style="float:right;color:grey;margin-right:10px;font-size:12px;">{{ moment(post.timestamp).format('LLL') }}</div>

                        </div>

                    </div>
                    {#loop.last :当前循环是否是最后一次循环  #}
                    {% if not loop.last %}
                        <hr>
                    {% endif %}
                {% endfor %}


                </div>
            {% else %}
                <div class="no_post_tip">
                    <h5>No posts yet.</h5>
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('admin.new_post') }}">Write Now</a>
                    {% endif %}
                </div>
            {% endif %}


         </div>



    </div>

















{% endblock %}